.Box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.TopicTab {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color:#666666;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.TopicBar {
  display: flex;
  width: 100%;
  background-color: #DADADA;
  flex-basis: content;
  position: sticky;
  top: 0;
}

.TabContainer {
  float: left;
  background-color: #DADADA;
  padding: 0.8% 0% 0.2% 0.8%;
}

.ActiveTab {
  text-decoration: underline;
  text-decoration-color: #E57200;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
}

.RowContent {
  flex: 1 1 auto;
}

.ContentInvisible {
  display: none !important;
}

.VisContainer {
  flex-basis: 65%;
  height: 91%;
  border: 3px solid #DADADA;
  margin: 2%;
  margin-right: 0%;
  overflow: scroll;
}

.TitleBox {
  color: #666666;
  padding: 2% 3%;
  border-bottom: 1px solid #DADADA;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.ToggleIcon {
  fill: #666666;
  align-self: flex-end;
  margin: auto 0;
  margin-right: 0;
}

.SummaryBox {
  display: flex;
  color: #666666;
  background-color: #DADADA;
  flex-direction: row;
  justify-content: space-around;
}

.SummaryItem {
  padding: 4%;
}

.SummaryValue {
  color: #E57200;
  font-weight: bold;
  font-size: 25px;
}

.SummaryDescription {
  color: #666666;
  font-size: 12px;
}

.FilterSelector {
  margin: 0% 5%;
  width: 90%;
}

.FilterDropdown {
  width: 100%;
  color: #666666;
  background-color: #F1F1EF;
  border: none;
  padding-top: 2%;
  padding-left: 3%;
  min-height: 30px;
  border-radius: 5px;
}

#MainContent {
  height: 90%;
  display: flex;
  flex-direction: row;
}

#FilterBox {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  height: 91%;
  border: 3px solid #DADADA;
  margin: 2%;
  overflow: hidden;
}

#FilterHead {
  font-style: italic;
  background-color: #F1F1EF;
  color: #666666;
  padding: 5%;
  font-size: 20px;
  position: sticky;
  top: 0;
}

#FilterIcon {
  width: 10%;
  fill: #666666;
  stroke: #666666;
  stroke-width: 20;
  margin-right: 5%;
}

#FilterItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow: scroll;
  padding-bottom: 40px;
}

#MapContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 90%;
  margin: auto 5%;
}

#MapToggle {
  width: 100%;
  min-height: 50px;
  /* margin: 0% 5%; */
  margin-top: 5%;
  background-color: #F1F1EF;
  border-bottom: 1px solid #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
  color: #495E9D;
  font-style: italic;
}

#FilterMap {
  width: 100%;
  min-height: 300px;
}

#FilterMapBox {
  display: flex;
  width: 100%;
  /* margin: 0% 5%; */
  background-color: #F1F1EF;
  min-height: 300px;
}

#SelectedDesc {
  font-size: 16px;
  color: #666666;
  margin: 0% 5%;
  border: 1px solid #DADADA;
  padding: 2%;
  height: 30%;
  min-height: 120px;
  overflow: hidden;
}

#SelectedBox {
  font-size: 12px;
  font-weight: lighter;
  border: 1px solid #DADADA;
  padding: 2%;
  min-height: 70%;
  max-height: 90%;
  overflow: scroll;
}

@media (max-width: 480px) {
  .TabContainer {
    display: flex;
    float: none;
    width: 100%;
    height: 150px;
    min-height: 100px;
    padding: 0%;
    border: 0.5px solid #666666;
    align-items: center; 
    padding-left: 2%;
  }

  .TopicBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    background-color: #DADADA;
    overflow-y: scroll;
    flex-basis: auto;
  }

  .TopicTab {
    font-weight: normal;
    font-size: 20px;
  }

  .TopicSelected {
    text-decoration: none;
  }

  .SummaryBox {
    flex-direction: column;
    background-color: #F1F1EF;
  }

  .VisContainer {
    height: 60%;
    min-height: 60%;
    margin: 0%;
    background-color: #FFFFFF;
    border: none;
  }

  #MainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #FilterBox {
    font-size: 12px;
    width: 100%;
    margin: 0%;
    border: none;
    border-top: 3px solid #F1F1EF;
    justify-content: flex-end;
    background-color: #ffffff;
    height: fit-content;
    max-height: 100%;
    align-self: flex-end;
    overflow: visible;
  }

  #FilterHead {
    order: 99;
    align-self: flex-end;
    border-top: 2px solid #FFFFFF;
  }

  #FilterHeadItems {
    display: flex;
    flex-direction: row;
    width: 100%;
    opacity: 0.8;
  }

  #FilterItems {
    position: relative;
    padding: 2% 0%;
    align-content: start;
  }
}